# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Research\IoT-IDS-using-Federated-Learning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
